@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

main{
  margin-top: 1rem;
  min-height:80vh;
}

footer{
  margin-top: 1rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}